In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

print(df.head())
print(df.shape)
print(df.dtypes)

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]
(8704, 25)
N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [3]:
missing_values = df.isnull().sum()
total_rows = len(df)
missing_ratio = (missing_values / total_rows) * 100
print("Частка пропусків в кожній колонці:")
print(missing_ratio)

Частка пропусків в кожній колонці:
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [4]:
df_cleaned = df.dropna(subset=df.columns.difference(['Мова програмування']))

In [5]:
missing_values_cleaned = df_cleaned.isnull().sum()
total_rows_cleaned = len(df_cleaned)
missing_ratio_cleaned = (missing_values_cleaned / total_rows_cleaned) * 100

print("Частка пропусків в кожній колонці після видалення пропусків, крім 'Мова програмування':")
print(missing_ratio_cleaned)

Частка пропусків в кожній колонці після видалення пропусків, крім 'Мова програмування':
N                                     0.0
Посада                                0.0
Мова програмування                  100.0
Спеціалізація                         0.0
Загальний досвід роботи               0.0
Досвід роботи на поточному місці      0.0
Зарплата на місяць                    0.0
Зміна зарплати за 12 місяців          0.0
Місто                                 0.0
Розмір компанії                       0.0
Тип компанії                          0.0
Стать                                 0.0
Вік                                   0.0
Освіта                                0.0
Університет                           0.0
Ще студент                            0.0
Рівень англійської                    0.0
Предметна область                     0.0
Дата заповнення                       0.0
User.Agent                            0.0
exp                                   0.0
current_job_exp                       0.0
salary                                0.0
Валюта                                0.0
cls                                   0.0
dtype: float64

In [7]:
python_data = df.loc[df['Мова програмування'] == 'Python']

def fill_avg_salary(dataframe, position_col='Посада', salary_col='salary'):
    aggregated_data = dataframe.groupby(position_col)[salary_col].agg(['min', 'max', 'mean']).reset_index()
    return aggregated_data

aggregated_data = fill_avg_salary(python_data, position_col='Посада', salary_col='salary')

new_df = pd.DataFrame({
    'Посада': aggregated_data['Посада'],
    'Мін. зп': aggregated_data['min'],
    'Макс. зп': aggregated_data['max'],
    'avg': aggregated_data['mean']
})

describe_stats = new_df['avg'].describe()
new_df.loc['LOL don`t understand last task'] = describe_stats
print(new_df)

                                                  Посада  Мін. зп  Макс. зп  \
0                               Junior Software Engineer    100.0    1250.0
1                               Senior Software Engineer   1300.0    9200.0
2                                      Software Engineer    500.0    5400.0
3                                       System Architect   3000.0    5000.0
4                                         Technical Lead   1425.0    6200.0
LOL don`t understand last task                       NaN      NaN       NaN

                                        avg
0                                560.841270
1                               3387.096774
2                               1799.070000
3                               4000.000000
4                               3165.909091
LOL don`t understand last task          NaN

In [8]:
new_df.to_csv('aggregated_salary_stats.csv', index=False)